<div class="container">
  <div class="left-div">
    <p class="text">
      Willkommen bei Inkgeko!
      <br>
      Passion, Besonderheit, Vielfalt
      <br>
      Mit Leidenschaft für künstlerische Werke und einem geschulten Auge für Design stehe ich Ihnen zur Verfügung. Jedes Projekt wird individuell angegangen und
      genau diese individuell abgestimmten Lösungen biete ich Ihnen an.
      <br>
      Mit meiner gestalterischen Unterstützung steht Ihr Projekt im Mittelpunkt. Von der Konzeption bis zur Umsetzung achte ich auf die Fokuspunkte Ihres
      einzigartigen Werkes und sorge dafür, dass es seine volle Wirkung entfaltet.
      <br>
    </p>
  </div>
  <div class="right-div">
    <img class="image" src="assets/images/Portrait_Foto_Luca.JPG">
  </div>
</div>
