<div class="container left-div text">
  <div>
    <h2>Grafikdesign</h2>
    <p>Ich habe schon sehr viele Flyer und Logos für Kunden designt. Hier ist mir wichtig,
      visuelle Identitäten zu schaffen, die nicht nur ästhetisch ansprechend sind, sondern auch
      die Botschaft des Projekts an sich authentisch widerspiegeln.</p>
    <br>
    <h2>Künstlerisches Schaffen</h2>
    <p>Ich habe viel Erfahrung in diversen gestalterischen Kunstformen, ich zeichne schon seit
      ich denken kann. </p>
    <br>
    <h2>Scriptwriting</h2>
    <p>Ich schreibe leidenschaftlich gerne Skripte, als junger Drehbuchautor bin ich offen
      für neue Erfahrungen.</p>
  </div>
</div>
