<mat-card>

</mat-card>
<div class="container">
  <div>
    <p class="text1">Kontaktieren Sie mich gerne jederzeit unter folgender Mail:</p>

  </div>
  <br>
  <div>
    <h4 class="text1">inkgeko&#64;gmail.com</h4>

  </div>
</div>
<!--
<div class="container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput
    placeholder="ruedi@example.com"
    [formControl]="email"
    (blur)="updateErrorMessage()"
    required>
    @if (email.invalid) {
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
</div>
-->
